#img-con{
    
    position: absolute;
    height: 500px;
    width: 500px;
    background-color: blue;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    clip-path: polygon(42% 2%, 100% 59%, 37% 98%, 0 62%);
}
.ani{

    animation:  ani 4s infinite linear;
}
@keyframes ani {
    0%{
        rotate: 0;
    }
    100%{
        rotate: 180deg;
    }
}

